<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9410863714.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles.css">
    <title>Szoboszló-Vas Kft.</title>
</head>
<body>
    <header>
        <div class="topheader">
            <a href="tel:36202855251"><i class="fa-solid fa-phone"></i>+36 20/285-5251</a>
            <a href="mailto:szoboszlovas@gmail.com"><i class="fa-solid fa-envelope"></i>szoboszlovas@gmail.com</a>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg" style="background-color: #fbc900;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Főoldal</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="termekeink.html">Termékeink</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="rolunk.html">Rólunk</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="elerhetosegeink.html">Elérhetőségeink</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    
</body>
</html>